
.home {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 60px);

  &-monster__container {
    flex: 1;
    margin: 30px;
    padding-top: 100px;
    position: relative;
  }

  &-monster__thought {
    position: absolute;
    background: #D2D2D2;
    border-radius: .4em;
    margin: 0 auto;
    padding: 10px;
    color: #000;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: .625em solid transparent;
      border-top-color: #D2D2D2;
      border-bottom: 0;
      border-left: 0;
      margin-left: -.312em;
      margin-bottom: -.625em;
    }
  }

  &-monster__speech {
    position: absolute;
    top: 0;
    right: 0;
    background: #794091;
    border-radius: .4em;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    color: #FFF;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border: .625em solid transparent;
      border-top-color: #794091;
      border-bottom: 0;
      border-left: 0;
      margin-left: -.312em;
      margin-bottom: -.625em;
    }
  }

  &__interactions {
    margin-bottom: 20px;
    z-index: 100;
  }
}

.button {
  border: 0;
  color: #FFF;
  border-radius: 5px;
  background: #999;
  padding: 8px;
  font-size: 1.3rem;
  width: 100%;
  cursor: pointer;
}
